---
import Layout from '../layouts/Layout.astro';
import Search from '../components/Search.astro';
const allPosts = await Astro.glob('../posts/*.{md,mdx}');
const posts = allPosts.filter((post) => !post.frontmatter.draft && post.frontmatter.slug);
---

<Layout title="Welcome to Battle Primer.">
	<main class="open-body">
		<h1 class="open-title">Welcome to <br/><span class="text-gradient">Battle Primers</span></h1>
		<!-- <p class="instructions">
			Search your Deck/Commander
		</p> -->
		<div class="mx-auto mt-4">
			<ul role="list" class="link-card-grid">
		</div>
		<div class="search-container">
			<Search />
		</div>
			<!-- <Card
				href=""
				title="Wow"
				body="Truly spiffy"
			>
				
			</Card> -->
		</ul>
	</main>
</Layout>

<style>
	.open-body {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	.open-title {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.search-container {
		width: 100%;
	}
	
</style>
